@tailwind base;
@tailwind components;
@tailwind utilities;

.sv_main.sv_custom .sv_q_title, /* Question text */
.sv_main.sv_custom .sv_q_radiogroup .sv-item__text, /* Option text */
.sv_main.sv_custom .sv-question__title { /* Other question titles */
    color: #ffffff !important; /* Make text white */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #098dfb; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#098dfb; /* Color on hover */
}

.custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color:#098dfb transparent; /* Firefox */
}
